*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mainDiv{
    height:80%;
    width: 50%;
    position: relative;
    background-color: lightgrey;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    padding: 30px;
    background-image: conic-gradient(red, yellow, green, blue, black, brown);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
body{
    background: -webkit-linear-gradient(left ,transparent, grey);
}
/* upperDiv */
.upperDiv{
    display: flex;
    justify-content: space-between;
}
.upperDiv button{
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 3px 5px #888888;
    border-radius: 5px;
    
    

}
.upperDiv button:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    color: red;
    

}
.upperInput{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid lightgray;
    box-shadow: 3px 5px #888888;

}
.upperDiv {

}
.section1{
    margin: 50px;
    text-align: center;
    
}
.hidden{
    display: none;
    
}
.resultWin{
    
    transform: scale(1.5);
    font-size: larger;
    /* border: 2px solid red; */
    
}
.corretAnswer{
    /* border: 2px solid red; */
    height: 50px;

}
.correctNumber{
    padding: 10px;
    font-size: 80px;
}
.yourNumber{
    padding: 10px;
    font-size: 80px;
}
.lastDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.inputUser{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid lightgray;
    box-shadow: 3px 5px #888888;
    margin-top: 10px;
}
.check{
    padding: 5px;
    margin: 10px 0px;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 3px 5px #888888;
    border-radius: 5px;

}
.check:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    color: red;
}
.overlay {
    background-color: black;
    position: absolute;
    /* height: 500px; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}
.modal {
    position: absolute;
    left: 20%;
    top: 20%;
    bottom: 0;
    height: 50%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding: 50px 20px;
    margin: 50px auto 0 auto;
    z-index: 1;
    background-image: conic-gradient(red, yellow, green, blue, black, brown);
    color: gray;
    z-index: 2;
    

}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    margin: 10px;
    border: none;
    background: transparent;
}
.close:hover{
    transform: scale(1.5);
}